.column {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;

  img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}

.sidebar {
  background-color: #f6f6f6;
  padding: 20px;

  .message {
    color: $text-black;
    margin: 20px 0;
  }

  .item {
    display: flex;
    height: 60px;
    cursor: pointer;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 18px;
      line-height: 60px;
      letter-spacing: -0.005em;
      color: $text-black;
    }

    &.active {
      border-right: 4px solid $green;
      font-weight: 500;

      .settings {
        margin-right: -4px;
      }
    }

    * {
      cursor: pointer;
    }

    .settings {
      margin-left: auto;
    }
  }
}
