.form {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  overflow: auto;
  max-height: 100%;

  textarea {
    height: 200px;
    resize: vertical;
  }

  > :not(:last-child) {
    margin-bottom: 1rem;
  }
}

button.submit {
  width: auto;
}
