.button {
  color: $text-light;
  margin-bottom: 1rem;
  width: 160px;
  border: 0;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  &.primary {
    background-color: $primary;
    &:hover {
      background-color: $primary-dark;
    }
  }

  &.link {
    font-weight: 400;
    color: $text-black;
    box-shadow: initial;
    background-color: $text-light;
    width: auto;
  }
}
