button {
    color: white;
    background-color: #4dbb40;
    border-radius: 4px;
    padding: 0.25em;
    font-size: .75em;;
}

button[disabled] {
    background-color: #f0f0f0;
    color: #595959;
}

hr {
    color: #c4c4c4
}

.defaultFont {
    font-size: 150%;
    font-family: sans-serif;
}

.highlight {
    color: #4dbb40
}

.organizationRow > td {
    padding-right: 1em
}