$corporate-green: #4dbb40;

body {
  font: 150% sans-serif;
}

button {
  color: white;
  background-color: $corporate-green;
  border-radius: 4px;
  padding: 0.25em;
  font-size: 90%;
  min-width: 7em;

  [disabled] {
    background-color: #f0f0f0;
    color: #595959;
  }
}

.highlight {
  color: $corporate-green
}

hr {
  color: #c4c4c4
}

input {
  font-size: 100%;
  padding: .2em;
}

label {
  display: inline-block;
  min-width: 8em;
  margin: .5em 0;
}

.organizationRow > td {
  padding-right: 1em;
}