$white: #fff;
$blue: #2991f3;
$blue-dark: #1579d7;
$grey: #565360;
$grey-dark: #616161;
$green: #4dbb40;

$text-light: $white;
$text-black: $grey;
$primary: $blue;
$primary-dark: $blue-dark;
$success: $green;
