.container {
  cursor: pointer;
  background-color: #f1605d2e;
  border: 1px solid #f1605d;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: 1rem;
  }

  * {
    cursor: pointer;
  }

  &.success {
    background-color: #4dbb402e;
    border-color: #4dbb40;
  }
}
